<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tech Inventory Manager</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <header>
    <h1>Tech Inventory Manager</h1>
    <nav>
      <a href="/portal">Portal</a>
      <a href="/portal/new">Add Asset</a>
      <a href="/auth/logout">Logout</a>
    </nav>
    <hr>
  </header>